{% extends "metadatos.html" %}
{% block contentmetadatos %}
     <div class="card-header bg-warning py-3">
                                <h6 class="m-0 font-weight-bold text-white"> <i class="fas fa-comments fa-2x text-gray-300"></i>  Comentarios</h6>
                            </div>
                            <div class="card-body">
                                
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Esquema</th>
                                                <th>Nombre de tabla</th>
                                                <th>Nombre columna</th>
                                                <th>Comentario</th>
                                              
    
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for metadatos in comentarios_met %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                    {% for col in metadatos %}
                                                     <td>{{col}}</td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div> 

{% endblock %}