 
 {% block content %}
               
                <div class="container-fluid">

                  
                    <h1 class="h3 mb-2 text-gray-800">Crear conexion</h1>
                   

                 
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Nueva conexion</h6>
                        </div>
                        
                        <div class="card-body">
                          <form method="post" action="/verconexion/">
                            {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label class="small mb-1" for="inputNotificationEmail">Alias de conexion</label>
                                            <input type="text" class="form-control " id="aliasconexion"
                                                placeholder="Alias de conexion">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="small mb-1" for="inputNotificationEmail">Comentario</label>
                                            <input type="text" class="form-control " id="comentario"
                                                placeholder="Comentario">
                                        </div>
                                    </div>

                                        </div>
                                    </div>


              
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Datos de conexion</h6>
                                        </div>
                                        
                                        <div class="card-body">
                            
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label class="small mb-1" for="inputNotificationEmail">Nombre host</label>
                                            <input type="text" class="form-control " id="host"
                                                placeholder="localhost">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="small mb-1" for="inputNotificationEmail">Puerto</label>
                                            <input type="text" class="form-control " id="puerto"
                                                placeholder="5432">
                                        </div>
                                    </div>


                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputNotificationEmail">Nombre de la base de datos</label>
                                        <input class="form-control" id="inputNotificationEmail" type="email" placeholder="Nombre de la base de datos"id="nombd">
                                        
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label class="small mb-1" for="inputNotificationEmail">Usuario</label>
                                            <input type="text" class="form-control " id="usuario"
                                                placeholder="Ingresa usuario">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="small mb-1" for="inputNotificationEmail">Contraseña</label>
                                            <input class="form-control" id="contraseña" type="password" placeholder="Ingresa contraseña">
                                        </div>
                                    </div>
                                
                                
                                
                                    <button class="btn btn-success btn-block" type="submit">Crear conexion</button>
                        </form>

                        </div>
                    </div>

                  


                </div>
         



{% endblock %} 