{% extends "metadatos.html" %}
{% block contentmetadatos %}
         
                         <div class="card-header bg-primary py-3">
                            <h6 class="m-0 font-weight-bold  text-white"> <i class="fas fa-calendar fa-2x text-gray-300"></i>  Schema</h6>
                        </div>
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre esquema</th>
                                            <th>Propietario</th>
                                            <th>Privilegios de acceso</th>
                                            <th>Comentario</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        {{data}}
                                        {% for metadatos in data %}
                                        <tr>
                                             <td>{{forloop.counter}}</td>
                                           {{metadatos}}
                                            
{% comment %}                                           
                                            {% if forloop.first %}<li class="first">{% else %}<li>{% endif %}
                                                <td>{{metadatos}}</td>                                   
                                           {% endcomment %}

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                   
                       

                    {% endblock %}