{% extends "dashboard.html" %}
{% block  title %} CS Admin - soporte
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 ">
  <h1 class="h3 mb-0 text-gray-800 p-3">Ayuda</h1>
  
</div>

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-success">Usabilidad</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                
                    <div class="text-justify ">
                        <p>Para nosotros es importante que comprendas el funcionamiento de la plataforma para sacar el mayor probecho de ella, asi que en este apartado encontraras un video tutorial donde se muestra el manejo de la plataforma</p>
                    </div>
                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/gef7039aYrE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
               
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Correo de ayuda</h6>
                
            </div>
            <!-- Card Body -->
            <div class="card-body">
                
                <form method="post" class="user" >
                    {% csrf_token %}
                      
                 {{crispy}}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" name="{{form.nombre.name}}"
                            placeholder="Nombre" value="{{request.user.first_name}}">
                           
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user"  name="{{form.apellido.name}}"
                            placeholder="Apellido" value="{{request.user.last_name}}">
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"  name="{{form.correo.name}}"
                        placeholder="Correo" value="{{request.user.email}}">
                </div>
                <div class="form-group">
                    <textarea type="input" class="form-control form-control-user" name="{{form.detalleserror.name}}"
                        placeholder="Comentario"></textarea>
                </div>
                
                     <button type="submit" class="btn btn-info btn-user btn-block" value="login">Enviar</button>
                    </form>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}