{% extends "dashboard.html" %}
{% block  title %} CS Admin - verconexiones
{% endblock %}

{% block content %}
         
         <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Conexiones</h1>
                    <p class="mb-4">En este apartado encontraras todas las conexiones con las bases de datos </p>
               

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Datos de conexiones</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Alias de conexion</th>
                                            <th>Host</th>
                                            <th>Puerto</th>
                                            <th>Nombre base de datos</th>
                                            <th>Usuario</th>
                                            <th>Comentario</th>
                                            <th>Fecha</th>
                                            <th>Acciones</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for metadatos in object_list %}
                                        <tr>
                                            {% comment %} <td>{{forloop.counter}}</td> {% endcomment %}
                                            <td>{{metadatos.id}}</td>
                                            <td>{{metadatos.aliasconxion}}</td>
                                            <td>{{metadatos.nomhost}}</td>
                                            <td>{{metadatos.nompuerto}}</td>
                                            <td>{{metadatos.nombd}}</td>
                                            <td>{{metadatos.usuario}}</td>
                                            <td>{{metadatos.comentariobd}}</td>
                                            <td>{{metadatos.fechacreacion}}</td>
                                            <td class="centrado">
                                                <p>imprension</p>
                                                <a href="/recursividad/schema/{{metadatos.id}}" class="btn btn-sm btn-block btn-info">Editar</a>

                                               {% comment %}  cambio{% endcomment %}
                                               <p>imprension    {{metadatos.id}}  </p>
                                             
                                                <!-- <a href="http://127.0.0.1:8000/eliminacion/{{metadatos.id}}" class="btn btn-sm btn-block btn-danger btnEliminacion">Eliminar</a> -->
                                                <a href="../eliminacion/{{metadatos.id}}" class="btn btn-sm btn-block btn-danger btnEliminacion">Eliminar</a>
                                            </td>
                                          

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endblock %}